In [22]:
import pandas as pd 
import os
pd.set_option('display.max_colwidth', 1000, 'display.max_rows', None, 'display.max_columns', None)

In [57]:
col_list = ['loan_amnt','funded_amnt','term','int_rate', 'grade','sub_grade','home_ownership','annual_inc','total_il_high_credit_limit','total_acc']
#col_list = ['debt_settlement_flag_date','desc','disbursement_method','member_id','sec_app_mths_since_last_major_derog ','settlement_amount','settlement_date','settlement_percentage','settlement_status','settlement_term','total_rev_hi_lim']
df = pd.read_csv("/Users/Kevin/Downloads/archive/Loan_status_2007-2020Q3.csv", usecols=col_list)
# df = pd.read_csv("/Users/Kevin/Downloads/archive/Loan_status_2007-2020Q3.csv", nrows=100)
# del df['url']
# del df['Unnamed: 0']
df.head(100)

,loan_amnt,funded_amnt,term,int_rate,grade,sub_grade,home_ownership,annual_inc,total_acc,total_il_high_credit_limit
0,5000.0,5000.0,36 months,10.65%,B,B2,RENT,24000.00,9.0,NaN
1,2500.0,2500.0,60 months,15.27%,C,C4,RENT,30000.00,4.0,NaN
2,2400.0,2400.0,36 months,15.96%,C,C5,RENT,12252.00,10.0,NaN
3,10000.0,10000.0,36 months,13.49%,C,C1,RENT,49200.00,37.0,NaN
4,3000.0,3000.0,60 months,12.69%,B,B5,RENT,80000.00,38.0,NaN
5,5000.0,5000.0,36 months,7.90%,A,A4,RENT,36000.00,12.0,NaN
6,7000.0,7000.0,60 months,15.96%,C,C5,RENT,47004.00,11.0,NaN
7,3000.0,3000.0,36 months,18.64%,E,E1,RENT,48000.00,4.0,NaN
8,5600.0,5600.0,60 months,21.28%,F,F2,OWN,40000.00,13.0,NaN
9,5375.0,5375.0,60 months,12.69%,B,B5,RENT,15000.00,3.0,NaN
10,6500.0,6500.0,60 months,14.65%,C,C3,OWN,72000.00,23.0,NaN
11,12000.0,12000.0,36 months,12.69%,B,B5,OWN,75000.00,34.0,NaN
12,9000.0,9000.0,36 months,13.49%,C,C1,RENT,30000.00,9.0,NaN
13,3000.0,3000.0,36 months,9.91%,B,B1,RENT,15000.00,11.0,NaN
14,10000.0,10000.0,36 months,10.65%,B,B2,RENT,100000.00,29.0,NaN
15,1000.0,1000.0,36 months,16.29%,D,D1,RENT,28000.00,23.0,NaN
16,10000.0,10000.0,36 months,15.27%,C,C4,RENT,42000.00,28.0,NaN
17,3600.0,3600.0,36 months,6.03%,A,A1,MORTGAGE,110000.00,42.0,NaN
18,6000.0,6000.0,36 months,11.71%,B,B3,MORTGAGE,84000.00,14.0,NaN
19,9200.0,9200.0,36 months,6.03%,A,A1,RENT,77385.19,28.0,NaN
20,20250.0,20250.0,60 months,15.27%,C,C4,RENT,43370.00,22.0,NaN
21,21000.0,21000.0,36 months,12.42%,B,B4,RENT,105000.00,38.0,NaN
22,10000.0,10000.0,36 months,11.71%,B,B3,OWN,50000.00,21.0,NaN
23,10000.0,10000.0,36 months,11.71%,B,B3,RENT,50000.00,17.0,NaN
24,6000.0,6000.0,36 months,11.71%,B,B3,RENT,76000.00,7.0,NaN
25,15000.0,15000.0,36 months,9.91%,B,B1,MORTGAGE,92000.00,31.0,NaN
26,15000.0,15000.0,36 months,14.27%,C,C2,RENT,60000.00,11.0,NaN
27,5000.0,5000.0,60 months,16.77%,D,D2,RENT,50004.00,22.0,NaN
28,4000.0,4000.0,36 months,11.71%,B,B3,MORTGAGE,106000.00,44.0,NaN
29,8500.0,8500.0,36 months,11.71%,B,B3,RENT,25000.00,12.0,NaN
30,4375.0,4375.0,36 months,7.51%,A,A3,MORTGAGE,17108.00,12.0,NaN
31,31825.0,31825.0,36 months,7.90%,A,A4,MORTGAGE,75000.00,26.0,NaN
32,10000.0,10000.0,60 months,15.96%,C,C5,RENT,29120.00,31.0,NaN
33,5000.0,5000.0,36 months,8.90%,A,A5,RENT,24044.00,16.0,NaN
34,7000.0,7000.0,36 months,15.96%,C,C5,RENT,34000.00,6.0,NaN
35,12400.0,12400.0,36 months,10.65%,B,B2,RENT,41000.00,12.0,NaN
36,10800.0,10800.0,36 months,9.91%,B,B1,RENT,55596.00,18.0,NaN
37,15000.0,15000.0,36 months,7.90%,A,A4,RENT,45000.00,27.0,NaN
38,6000.0,6000.0,36 months,12.42%,B,B4,RENT,36852.00,12.0,NaN
39,12500.0,12500.0,60 months,12.69%,B,B5,RENT,27000.00,24.0,NaN
40,9600.0,9600.0,36 months,7.51%,A,A3,RENT,68004.00,11.0,NaN
41,12000.0,12000.0,36 months,7.90%,A,A4,RENT,62300.00,25.0,NaN
42,3000.0,3000.0,36 months,18.25%,D,D5,MORTGAGE,65000.00,22.0,NaN
43,4400.0,4400.0,36 months,16.77%,D,D2,RENT,55000.00,11.0,NaN
44,6000.0,6000.0,36 months,6.03%,A,A1,MORTGAGE,45600.00,28.0,NaN
45,14000.0,14000.0,36 months,9.91%,B,B1,RENT,80000.00,40.0,NaN
46,5000.0,5000.0,36 months,8.90%,A,A5,MORTGAGE,100000.00,35.0,NaN
47,10000.0,10000.0,36 months,10.65%,B,B2,RENT,27000.00,10.0,NaN
48,10000.0,10000.0,36 months,6.03%,A,A1,RENT,60000.00,18.0,NaN
49,11000.0,11000.0,36 months,6.62%,A,A2,RENT,70000.00,7.0,NaN
50,15000.0,15000.0,36 months,9.91%,B,B1,MORTGAGE,80000.00,28.0,NaN
51,25600.0,25600.0,36 months,9.91%,B,B1,RENT,110000.00,27.0,NaN
52,7000.0,7000.0,36 months,10.65%,B,B2,RENT,40000.00,12.0,NaN
53,12000.0,12000.0,36 months,15.96%,C,C5,RENT,50000.00,11.0,NaN
54,12000.0,12000.0,36 months,9.91%,B,B1,RENT,46000.00,12.0,NaN
55,21000.0,21000.0,60 months,19.91%,E,E4,RENT,50000.00,14.0,NaN
56,16000.0,16000.0,60 months,19.91%,E,E4,RENT,81000.00,21.0,NaN
57,10000.0,10000.0,36 months,12.42%,B,B4,OWN,39000.00,10.0,NaN
58,10000.0,10000.0,36 months,10.65%,B,B2,RENT,51400.00,24.0,NaN
59,7100.0,7100.0,36 months,16.77%,D,D2,MORTGAGE,33000.00,8.0,NaN
60,13000.0,13000.0,60 months,12.69%,B,B5,MORTGAGE,30000.00,27.0,NaN
61,17500.0,8950.0,60 months,17.27%,D,D3,RENT,40000.00,6.0,NaN
62,17675.0,17675.0,60 months,14.65%,C,C3,RENT,50000.00,14.0,NaN
63,8000.0,8000.0,36 months,16.77%,D,D2,RENT,62000.00,20.0,NaN
64,10000.0,10000.0,60 months,10.65%,B,B2,RENT,45996.00,15.0,NaN
65,3500.0,3500.0,36 months,10.65%,B,B2,MORTGAGE,55000.00,12.0,NaN
66,12500.0,8925.0,60 months,17.27%,D,D3,RENT,30000.00,28.0,NaN
67,16425.0,16425.0,36 months,14.27%,C,C2,RENT,44544.00,18.0,NaN
68,8200.0,8200.0,60 months,21.28%,F,F2,RENT,75000.00,11.0,NaN
69,15000.0,15000.0,36 months,14.65%,C,C3,OWN,61000.00,18.0,NaN
70,20975.0,13575.0,60 months,17.58%,D,D4,MORTGAGE,44000.00,21.0,NaN
71,6400.0,6400.0,36 months,16.77%,D,D2,RENT,75000.00,27.0,NaN
72,3000.0,3000.0,36 months,13.49%,C,C1,RENT,33600.00,7.0,NaN
73,12000.0,12000.0,36 months,16.77%,D,D2,RENT,50000.00,19.0,NaN
74,14400.0,14400.0,36 months,8.90%,A,A5,OWN,150000.00,38.0,NaN
75,12000.0,12000.0,36 months,14.65%,C,C3,RENT,90000.00,36.0,NaN
76,11000.0,11000.0,36 months,13.49%,C,C1,MORTGAGE,48000.00,29.0,NaN
77,7250.0,7200.0,60 months,21.67%,F,F3,RENT,75000.00,19.0,NaN
78,15000.0,15000.0,36 months,7.90%,A,A4,MORTGAGE,52000.00,29.0,NaN
79,18000.0,18000.0,60 months,19.91%,E,E4,MORTGAGE,65000.00,40.0,NaN
80,35000.0,22075.0,60 months,17.27%,D,D3,MORTGAGE,150000.00,31.0,NaN
81,10000.0,10000.0,36 months,14.27%,C,C2,RENT,68000.00,15.0,NaN
82,11800.0,11800.0,36 months,12.69%,B,B5,RENT,42000.00,13.0,NaN
83,4500.0,4500.0,36 months,6.03%,A,A1,RENT,53000.00,17.0,NaN
84,7000.0,7000.0,36 months,12.69%,B,B5,RENT,35000.00,26.0,NaN
85,9200.0,9200.0,36 months,12.42%,B,B4,RENT,60000.00,19.0,NaN
86,14000.0,14000.0,60 months,17.27%,D,D3,RENT,28000.00,10.0,NaN
87,4500.0,4500.0,60 months,10.65%,B,B2,MORTGAGE,42000.00,9.0,NaN
88,12000.0,12000.0,36 months,16.29%,D,D1,RENT,88365.00,15.0,NaN
89,12000.0,12000.0,36 months,13.49%,C,C1,RENT,72000.00,19.0,NaN
90,12000.0,12000.0,36 months,10.65%,B,B2,RENT,62000.00,51.0,NaN
91,7000.0,7000.0,36 months,10.65%,B,B2,MORTGAGE,43680.00,11.0,NaN
92,8200.0,8200.0,60 months,19.42%,E,E3,RENT,120000.00,6.0,NaN
93,10500.0,10500.0,36 months,12.69%,B,B5,RENT,66000.00,26.0,NaN
94,7000.0,7000.0,36 months,11.71%,B,B3,OWN,39120.00,26.0,NaN
95,15300.0,15300.0,60 months,22.06%,F,F4,RENT,85000.00,27.0,NaN
96,20000.0,12800.0,60 months,11.71%,B,B3,MORTGAGE,47800.00,27.0,NaN
97,17500.0,17500.0,60 months,17.27%,D,D3,MORTGAGE,45000.00,26.0,NaN
98,3500.0,3500.0,36 months,6.03%,A,A1,MORTGAGE,83000.00,28.0,NaN
99,6000.0,6000.0,60 months,12.69%,B,B5,RENT,81000.00,17.0,NaN

In [58]:
# convert term and interest rates to numbers
df['term'] = df['term'].str.rstrip(' months')
df['int_rate'] = df['int_rate'].str.rstrip('%')
df['term'] = df['term'].astype(float)
df['int_rate'] = df['int_rate'].astype(float)
df.info()

,loan_amnt,funded_amnt,term,int_rate,grade,sub_grade,home_ownership,annual_inc,total_acc,total_il_high_credit_limit
0,5000.0,5000.0,36.0,10.65,B,B2,RENT,24000.0,9.0,NaN
1,2500.0,2500.0,60.0,15.27,C,C4,RENT,30000.0,4.0,NaN
2,2400.0,2400.0,36.0,15.96,C,C5,RENT,12252.0,10.0,NaN
3,10000.0,10000.0,36.0,13.49,C,C1,RENT,49200.0,37.0,NaN
4,3000.0,3000.0,60.0,12.69,B,B5,RENT,80000.0,38.0,NaN

In [ ]:
df.head()

In [77]:
# column = df["total_il_high_credit_limit"]
# column = df["total_acc"]
# column = df["annual_inc"]


# column = df["funded_amnt"]
# column = df["term"]
column = df['int_rate']
max_value = column.max()
mean_value = column.mean()
mode_value = column.mode()
min_value = column.min()
print(f'Minimum: {min_value} \nMean: {mean_value} \nMax: {max_value}' )

Minimum: 5.31
Mean: 13.045447083801774
Max: 30.99

In [60]:
df.tail(15)
list(df.columns)

['loan_amnt',
 'funded_amnt',
 'term',
 'int_rate',
 'grade',
 'sub_grade',
 'home_ownership',
 'annual_inc',
 'total_acc',
 'total_il_high_credit_limit']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Data columns (total 10 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   funded_amnt                 float64
 2   term                        float64
 3   int_rate                    float64
 4   grade                       object
 5   sub_grade                   object
 6   home_ownership              object
 7   annual_inc                  float64
 8   total_acc                   float64
 9   total_il_high_credit_limit  float64
dtypes: float64(7), object(3)
memory usage: 223.2+ MB

In [62]:
list(df.columns)

['loan_amnt',
 'funded_amnt',
 'term',
 'int_rate',
 'grade',
 'sub_grade',
 'home_ownership',
 'annual_inc',
 'total_acc',
 'total_il_high_credit_limit']

In [72]:
n = len(pd.unique(df['sub_grade']))
print(n)
x = df.sub_grade.unique()
print(x)
# each subgrade is a letter (a-g) followed by 1-5  could be replaced by 1-35 if we want to do math

36
['B2' 'C4' 'C5' 'C1' 'B5' 'A4' 'E1' 'F2' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F4' 'F1' 'E5'
 'G4' 'E2' 'G3' 'G2' 'G1' 'F5' 'G5' nan]

In [75]:
n = len(pd.unique(df['home_ownership']))
print(n)
x = df.home_ownership.unique()
print(x)
# No van under the river  :(

7
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE' nan 'ANY']