In [1]:
import os
import pandas as pd
import pandas as pd
import numpy as np
import random as rnd
import scipy as sp

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')
sns.set(style='whitegrid')

In [2]:
DATA_PATH ='data\Loan_status_2007-2020Q3.gzip'

In [3]:
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data\LCDataDictionary.xlsx
data\Loan_status_2007-2020Q3.gzip
data\Loan_status_2007-2020Q3.gzip.zip
data\main_data.csv
data\sample_main_data.csv
data\~$LCDataDictionary.xlsx

In [4]:
loans = pd.read_csv(DATA_PATH)
loans.head()

C:\Users\narje\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,48,58,117,127,128,129,132,133,134,137) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,0,1077501,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,1,1077430,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2,1077175,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,3,1076863,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,4,1075358,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [5]:
loans.count()

Unnamed: 0                                    2925493
id                                            2925493
loan_amnt                                     2925492
funded_amnt                                   2925492
funded_amnt_inv                               2925492
                                               ...
hardship_loan_status                           143411
orig_projected_additional_accrued_interest     179240
hardship_payoff_balance_amount                 182076
hardship_last_payment_amount                   182076
debt_settlement_flag                          2925492
Length: 142, dtype: int64

In [6]:
loans.to_csv('data\main_data.csv', index=False)

In [6]:
sample=loans.head(1000)

In [8]:
sample.to_csv('data\sample_main_data.csv', index=False)

In [7]:
loans.columns

Index(['Unnamed: 0', 'id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date',
       'hardship_length', 'hardship_dpd', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag'],
      dtype='object', length=142)

In [8]:
#predict the loan_status variable. What are the value counts for this variable
loans["loan_status"].value_counts(dropna=False)

Fully Paid                                             1497783
Current                                                1031016
Charged Off                                             362548
Late (31-120 days)                                       16154
In Grace Period                                          10028
Late (16-30 days)                                         2719
Issued                                                    2062
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                    433
NaN                                                          1
Name: loan_status, dtype: int64

In [9]:
#keep the loans with status "Fully Paid" or "Charged Off"
ploans = loans.loc[loans['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [10]:
ploans.count()

Unnamed: 0                                    1860331
id                                            1860331
loan_amnt                                     1860331
funded_amnt                                   1860331
funded_amnt_inv                               1860331
                                               ...
hardship_loan_status                            12684
orig_projected_additional_accrued_interest      19213
hardship_payoff_balance_amount                  22049
hardship_last_payment_amount                    22049
debt_settlement_flag                          1860331
Length: 142, dtype: int64

In [13]:
ploans["loan_status"].value_counts(dropna=False)

Fully Paid     1497783
Charged Off     362548
Name: loan_status, dtype: int64

In [11]:
ploans["loan_status"].value_counts(normalize=True)

Fully Paid     0.805116
Charged Off    0.194884
Name: loan_status, dtype: float64

In [12]:
#calculate the percentage of missing data for each feature
missing_values_mean = ploans.isnull().mean().sort_values(ascending=False)

In [13]:
missing_values_mean.head(20)

next_pymnt_d                                  1.000000
hardship_loan_status                          0.993182
deferral_term                                 0.993176
hardship_status                               0.993176
hardship_dpd                                  0.993176
hardship_length                               0.993176
payment_plan_start_date                       0.993176
hardship_end_date                             0.993176
hardship_start_date                           0.993176
hardship_type                                 0.993176
hardship_reason                               0.993175
orig_projected_additional_accrued_interest    0.989672
hardship_last_payment_amount                  0.988148
hardship_amount                               0.988148
hardship_payoff_balance_amount                0.988148
sec_app_revol_util                            0.969010
revol_bal_joint                               0.968484
sec_app_mort_acc                              0.968483
sec_app_fico_range_high                       0.968483
sec_app_earliest_cr_line                      0.968483
dtype: float64

In [21]:
# store all variables missing more than 30% data
drop_values_mean=list(missing_values_mean[missing_values_mean>0.3].index)
len(drop_values_mean)

49

In [23]:
# Drop features
ploans.drop(columns=drop_values_mean)

KeyError: "['next_pymnt_d' 'hardship_loan_status' 'deferral_term' 'hardship_status'\n 'hardship_dpd' 'hardship_length' 'payment_plan_start_date'\n 'hardship_end_date' 'hardship_start_date' 'hardship_type'\n 'hardship_reason' 'orig_projected_additional_accrued_interest'\n 'hardship_last_payment_amount' 'hardship_amount'\n 'hardship_payoff_balance_amount' 'sec_app_revol_util' 'revol_bal_joint'\n 'sec_app_mort_acc' 'sec_app_fico_range_high' 'sec_app_earliest_cr_line'\n 'sec_app_inq_last_6mths' 'sec_app_fico_range_low' 'sec_app_open_acc'\n 'sec_app_open_act_il' 'sec_app_num_rev_accts'\n 'sec_app_chargeoff_within_12_mths' 'sec_app_collections_12_mths_ex_med'\n 'verification_status_joint' 'dti_joint' 'annual_inc_joint'\n 'mths_since_last_record' 'mths_since_recent_bc_dlq'\n 'mths_since_last_major_derog' 'mths_since_recent_revol_delinq' 'il_util'\n 'mths_since_last_delinq' 'mths_since_rcnt_il' 'all_util' 'open_acc_6m'\n 'inq_last_12m' 'total_cu_tl' 'inq_fi' 'max_bal_bc' 'open_rv_24m'\n 'open_rv_12m' 'total_bal_il' 'open_il_24m' 'open_il_12m' 'open_act_il'] not found in axis"

In [24]:
ploans.shape

(1860331, 93)

In [25]:
ploans.columns

Index(['Unnamed: 0', 'id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

In [27]:
keep_list = ['addr_state', 'annual_inc', 'application_type', 'dti', 'earliest_cr_line', 'emp_length', 'emp_title', 'fico_range_high', 'fico_range_low', 'grade', 'home_ownership', 'id', 'initial_list_status', 'installment', 'int_rate', 'issue_d', 'loan_amnt', 'loan_status', 'mort_acc', 'open_acc', 'pub_rec', 'pub_rec_bankruptcies', 'purpose', 'revol_bal', 'revol_util', 'sub_grade', 'term', 'title', 'total_acc', 'verification_status', 'zip_code']
print("Keep features: ", len(keep_list))

Keep features:  31

In [28]:
drop_list = [col for col in ploans.columns if col not in keep_list]
drop_list

['Unnamed: 0',
 'funded_amnt',
 'funded_amnt_inv',
 'pymnt_plan',
 'url',
 'delinq_2yrs',
 'inq_last_6mths',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mths_since_recent_bc',
 'mths_since_recent_inq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'hardship_flag',
 'debt_settlement_flag']

In [29]:
ploans.drop(labels=drop_list, axis=1, inplace=True)
ploans.shape

C:\Users\narje\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(1860331, 31)

In [30]:
ploans.describe()

,loan_amnt,installment,annual_inc,dti,fico_range_low,fico_range_high,open_acc,pub_rec,revol_bal,total_acc,mort_acc,pub_rec_bankruptcies
count,1.860331e+06,1.860331e+06,1.860331e+06,1.859223e+06,1.860331e+06,1.860331e+06,1.860331e+06,1.860331e+06,1.860331e+06,1.860331e+06,1.813050e+06,1.859634e+06
mean,1.458827e+04,4.402559e+02,7.736956e+04,1.856774e+01,6.976785e+02,7.016786e+02,1.160594e+01,2.083065e-01,1.628541e+04,2.459665e+01,1.606560e+00,1.329122e-01
std,8.970471e+03,2.669094e+02,1.178218e+05,1.309153e+01,3.270865e+01,3.270940e+01,5.575507e+00,5.901983e-01,2.246811e+04,1.204628e+01,1.945149e+00,3.729492e-01
min,5.000000e+02,4.930000e+00,0.000000e+00,-1.000000e+00,6.250000e+02,6.290000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00
25%,7.950000e+03,2.469900e+02,4.600000e+04,1.182000e+01,6.700000e+02,6.740000e+02,8.000000e+00,0.000000e+00,5.842000e+03,1.600000e+01,0.000000e+00,0.000000e+00
50%,1.200000e+04,3.736300e+02,6.500000e+04,1.771000e+01,6.900000e+02,6.940000e+02,1.100000e+01,0.000000e+00,1.107000e+04,2.300000e+01,1.000000e+00,0.000000e+00
75%,2.000000e+04,5.849600e+02,9.200000e+04,2.429000e+01,7.150000e+02,7.190000e+02,1.400000e+01,0.000000e+00,1.977000e+04,3.100000e+01,3.000000e+00,0.000000e+00
max,4.000000e+04,1.719830e+03,1.100000e+08,9.990000e+02,8.450000e+02,8.500000e+02,9.000000e+01,8.600000e+01,2.904836e+06,1.760000e+02,6.100000e+01,1.200000e+01